.flex {
    display: flex;
}
.alignC{
    align-items: center;
}
.justifyC {
    justify-content: center;
}
.bred {
    border: 2px solid red;

}
.w100 {
    width: 100%;
}
.h100 {
    height: 100%;

}
.w50 {
    width: 50%;
}
.h50 {
    height: 50%;

}
.flexDC {
    flex-direction: column;
}

.font500{
    font-weight: 500;
}
.font800{
    font-weight: 800;
}
.gap5 {
    gap: 5px;
}
.gap10 {
    gap: 10px;
}
.gap15 {
    gap: 15px;
}
.gap20 {
    gap: 20px;
}
.gap25 {
    gap: 25px;
}
.gap30 {
    gap: 30px;
}
.colorBlue {
    color: rgb(51, 51, 255);
}
.colorWhite {
    color: white;
}
.colorYellow {
    color: yellow;
}
.bgColorBlue {
    background-color: rgb(51, 51, 255);
}